

th, td {
    padding: 15px;
    border-bottom: 1px solid black;
    padding-right: 100px;
}


table {
    margin-top: 100px;
}

body {
    color: yellow;
}

.two {
    
}

#dido {
    color: rgb(228, 0, 190);
    border: 20px solid red;
}





specificity
spezifizität

























